<!--begin::Table-->
<div class="card card-flush mt-6 mt-xl-9">
  <!--begin::Card header-->
  <div class="card-header mt-5">
    <!--begin::Card title-->
    <div class="card-title flex-column">
      <h3 class="fw-bold mb-1">Component</h3>
    </div>
    <!--begin::Card title-->
    <!--begin::Card toolbar-->
    <div class="card-toolbar my-1 w-100 w-md-auto gap-3 gap-md-0">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1 me-md-4 w-100 w-md-auto">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-3"></app-keenicon>
        <input type="text" id="kt_filter_search" class="form-control form-control-solid form-select-sm w-100 w-md-150px ps-9" placeholder="Search Component" #tableSearch (input)="table.search(tableSearch.value)" />
      </div>
      <!--end::Search-->
      <!--begin::Employer filter-->
      <div class="my-1 me-md-4 w-100 w-md-250px">
        <select class="form-select form-select-sm form-select-solid" data-control="select2" data-width="100%" aria-label="Filter by employer" [ngModel]="employerFilter" (ngModelChange)="filterByEmployer($event)">
          <option [ngValue]="null">All Employers</option>
          <option *ngFor="let e of employers" [ngValue]="e.id">{{ e.name }}</option>
        </select>
      </div>
      <!--end::Employer filter-->
      <!--begin::Asset filter-->
      <div class="my-1 me-md-4 w-100 w-md-250px">
        <select class="form-select form-select-sm form-select-solid" data-control="select2" data-width="100%" aria-label="Filter by asset" [ngModel]="assetFilter" (ngModelChange)="filterByAsset($event)">
          <option [ngValue]="null">All Assets</option>
          <option *ngFor="let s of assetOptions" [ngValue]="s.id">{{ s.label }}</option>
        </select>
      </div>
      <!--end::Asset filter-->
      <!--begin::Button-->
      <a href="javascript:;" class="btn btn-sm fw-bold btn-primary my-1 w-100 w-md-auto" (click)="openAddModal(addComponentModal)">Add Component</a>
      <!--end::Button-->
    </div>
    <!--begin::Card toolbar-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body pt-0">
    <!--begin::Table container-->
    <app-data-table
      [table]="table"
      tableId="kt_profile_overview_table"
      (editRecord)="openEditModal(editComponentModal, $event)"
      (deleteRecord)="table.confirmDelete($event, $event.component)">
    </app-data-table>
    <!--end::Table container-->
  </div>
  <!--end::Card body-->
</div>
<!--end::Card-->

<!--begin::Modal - Add Component-->
<ng-template #addComponentModal let-modal>
  <ng-container *ngTemplateOutlet="componentFormTpl; context: { modal: modal, title: 'Add Component', formId: 'kt_modal_add_component_form', submitLabel: 'Submit' }"></ng-container>
</ng-template>
<!--end::Modal - Add Component-->
<!--begin::Modal - Edit Component-->
<ng-template #editComponentModal let-modal>
  <ng-container *ngTemplateOutlet="componentFormTpl; context: { modal: modal, title: 'Edit Component', formId: 'kt_modal_edit_component_form', submitLabel: 'Save' }"></ng-container>
</ng-template>
<!--end::Modal - Edit Component-->
<ng-template #componentFormTpl let-modal="modal" let-title="title" let-formId="formId" let-submitLabel="submitLabel">
  <!--begin::Modal header-->
  <div class="modal-header pb-0 border-0 justify-content-end">
    <!--begin::Close-->
    <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="modal.dismiss('Cross click')">
      <app-keenicon name="cross" class="fs-1"></app-keenicon>
    </div>
    <!--end::Close-->
  </div>
  <!--begin::Modal header-->
  <!--begin::Modal body-->
  <div class="modal-body scroll-y px-5 px-md-10 px-lg-15 pt-0 pb-10 pb-md-15">
    <!--begin:Form-->
    <form [id]="formId" class="form" (ngSubmit)="submit(componentNgForm, modal)" #componentNgForm="ngForm" novalidate>
      <!--begin::Heading-->
      <div class="mb-8 mb-md-13 text-center">
        <!--begin::Title-->
        <h1 class="mb-3">{{ title }}</h1>
        <!--end::Title-->
      </div>
      <!--end::Heading-->
      <!--begin::Input group-->
      <div class="d-flex flex-column mb-8 fv-row">
        <!--begin::Label-->
        <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
          <span class="required">Component Name</span>
        </label>
        <!--end::Label-->
        <input type="text" class="form-control form-control-solid" placeholder="Enter Component Name" name="component" [(ngModel)]="componentForm.component" required />
      </div>
      <!--end::Input group-->
      <!--begin::Input group-->
      <div class="d-flex flex-column mb-8 fv-row">
        <label class="d-flex align-items-center fs-6 fw-semibold mb-2" for="component_tag">Tag</label>
        <input id="component_tag" type="text" class="form-control form-control-solid" placeholder="Enter Tag Name" name="tag" [(ngModel)]="componentForm.tag" />
      </div>
      <div class="d-flex flex-column mb-15 fv-row">
        <!--begin::Label-->
        <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
          <span class="required">Asset Name</span>
        </label>
        <!--end::Label-->
        <select class="form-select form-select-solid" data-control="select2" data-placeholder="Select an Asset" name="asset" [(ngModel)]="componentForm.assetId" required>
          <option [ngValue]="null">Select asset...</option>
          <option *ngFor="let s of assetOptions" [ngValue]="s.id">{{ s.label }}</option>
        </select>
      </div>
      <!--end::Input group-->
      <!--begin::Actions-->
      <div class="text-center">
        <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss('cancel')">Cancel</button>
        <button type="submit" class="btn btn-primary" [attr.data-kt-indicator]="saving ? 'on' : 'off'">
          <span class="indicator-label">{{ submitLabel }}</span>
          <span class="indicator-progress">Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
        </button>
      </div>
      <!--end::Actions-->
    </form>
    <!--end:Form-->
  </div>
  <!--end::Modal body-->
</ng-template>
