<p-table [id]="tableId" [value]="viewRows()" styleClass="darp-metronic-table"
  tableStyleClass="table table-row-bordered table-row-dashed gy-4 align-middle fw-bold dataTable no-footer">
  <ng-template pTemplate="header">
    <tr class="fs-7 text-gray-500 text-uppercase">
      <th *ngFor="let col of table.columns" [class]="col.class + ' dt-orderable-asc dt-orderable-desc'"
        [ngClass]="table.sortClass(col.key)" scope="col"
        [attr.aria-sort]="table.sortKey === col.key ? (table.sortDir === 'asc' ? 'ascending' : 'descending') : 'none'"
        (click)="table.sortBy(col.key)">
        <div class="dt-column-header">
          <button pButton type="button" class="dt-column-title bg-transparent border-0 p-0 text-reset fs-7 fw-bold text-uppercase lh-base"
            [attr.aria-label]="'Sort by ' + col.title">{{ col.title }}</button>
          <span class="dt-column-order" aria-hidden="true"></span>
        </div>
      </th>
      <th class="min-w-100px text-end dt-orderable-none" scope="col">
        <div class="dt-column-header">
          <span class="dt-column-title">Actions</span>
          <span class="dt-column-order" aria-hidden="true"></span>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-record>
    <tr class="fs-6">
      <td *ngFor="let col of table.columns">{{ record[col.key] }}</td>
      <td class="text-end text-nowrap">
        <button pButton type="button" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
          aria-label="Edit record" (click)="editRecord.emit(record)">
          <i class="ki-duotone ki-pencil fs-2" aria-hidden="true"><span class="path1"></span><span class="path2"></span></i>
        </button>
        <button pButton type="button" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
          aria-label="Delete record" data-kt-site-table-filter="delete_row" (click)="deleteRecord.emit(record)">
          <i class="ki-duotone ki-trash fs-2" aria-hidden="true"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr class="fs-6">
      <td [attr.colspan]="table.columns.length + 1" class="text-center text-gray-500">No matching records found</td>
    </tr>
  </ng-template>
</p-table>
