<div class="dataTables_paginate paging_simple_numbers">
  <ul class="pagination">
    <li class="paginate_button page-item first" [class.disabled]="table.page === 1">
      <button type="button" class="page-link" aria-label="First page" [disabled]="table.page === 1" (click)="table.goToPage(1)">First</button>
    </li>
    <li class="paginate_button page-item previous" [class.disabled]="table.page === 1">
      <button type="button" class="page-link" aria-label="Previous page" [disabled]="table.page === 1" (click)="table.goToPage(table.page - 1)"><i class="previous"></i></button>
    </li>
    <li *ngFor="let p of table.pages" class="paginate_button page-item" [class.active]="p === table.page">
      <button type="button" class="page-link" [attr.aria-current]="p === table.page ? 'page' : null" (click)="table.goToPage(p)">{{ p }}</button>
    </li>
    <li class="paginate_button page-item next" [class.disabled]="table.page === table.totalPages">
      <button type="button" class="page-link" aria-label="Next page" [disabled]="table.page === table.totalPages" (click)="table.goToPage(table.page + 1)"><i class="next"></i></button>
    </li>
    <li class="paginate_button page-item last" [class.disabled]="table.page === table.totalPages">
      <button type="button" class="page-link" aria-label="Last page" [disabled]="table.page === table.totalPages" (click)="table.goToPage(table.totalPages)">Last</button>
    </li>
  </ul>
</div>
