<!--begin::Table-->
<div class="card card-flush mt-6 mt-xl-9">
  <!--begin::Card header-->
  <div class="card-header mt-5">
    <!--begin::Card title-->
    <div class="card-title flex-column">
      <h3 class="fw-bold mb-1">Site</h3>
    </div>
    <!--begin::Card title-->
    <!--begin::Card toolbar-->
    <div class="card-toolbar my-1 w-100 w-md-auto gap-3 gap-md-0">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1 me-md-4 w-100 w-md-auto">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-3"></app-keenicon>
        <input type="text" [disabled]="listState.loading()" id="kt_filter_search" class="form-control form-control-solid form-select-sm w-100 w-md-150px ps-9" placeholder="Search Site" #tableSearch (input)="table.search(tableSearch.value)" aria-label="Search Site" />
      </div>
      <!--end::Search-->
      <!--begin::Button-->
      <button type="button" [disabled]="!canAdd" class="btn btn-sm fw-bold btn-primary my-1 w-100 w-md-auto" (click)="openAddModal(siteModal)">Add Site</button>
      <!--end::Button-->
    </div>
    <!--begin::Card toolbar-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body pt-0">
    <!--begin::Table container-->
    <app-data-table
      [table]="table"
      [loading]="listState.loading()"
      [error]="listState.error()"
      [actionsDisabled]="actionsDisabled"
      [retryDisabled]="saving"
      emptyMessage="No sites yet."
      (retry)="loadSites()"
      tableId="kt_profile_overview_table"
      (editRecord)="openEditModal(siteModal, $event)"
      (deleteRecord)="deleteSite($event)">
    </app-data-table>
    <!--end::Table container-->
  </div>
  <!--end::Card body-->
</div>
<!--end::Card-->

<!--begin::Modal - Site (Add / Edit)-->
<ng-template #siteModal let-modal>
  <app-form-modal
    #formModal
    [title]="siteForm.id ? 'Edit Site' : 'Add Site'"
    [formId]="siteForm.id ? 'kt_modal_edit_site_form' : 'kt_modal_new_target_form'"
    [submitLabel]="siteForm.id ? 'Save' : 'Submit'"
    [description]="siteForm.id ? 'Site details' : ''"
    [saving]="saving"
    [cancelId]="siteForm.id ? 'kt_modal_edit_site_cancel' : 'kt_modal_new_target_cancel'"
    [submitId]="siteForm.id ? 'kt_modal_edit_site_submit' : 'kt_modal_new_target_submit'"
    (dismiss)="modal.dismiss($event)">
    <form [id]="formModal.formId" [attr.aria-labelledby]="formModal.formId + '_title'" class="form" (ngSubmit)="submit(siteNgForm, modal)" #siteNgForm="ngForm" novalidate>
      <!--begin::Input group-->
      <div class="d-flex flex-column mb-8 fv-row">
        <!--begin::Label-->
        <label class="d-flex align-items-center fs-6 fw-semibold mb-2" [for]="formModal.formId + '_city'">
          <span class="required">City</span>
        </label>
        <!--end::Label-->
        <input
          [id]="formModal.formId + '_city'"
          type="text"
          class="form-control form-control-solid"
          placeholder="Enter City"
          name="city"
          [(ngModel)]="siteForm.city"
          required
          #cityControl="ngModel"
          [class.is-invalid]="cityControl.invalid && (cityControl.touched || siteNgForm.submitted)"
          [attr.aria-invalid]="(cityControl.invalid && (cityControl.touched || siteNgForm.submitted)) ? 'true' : null"
          [attr.aria-describedby]="(cityControl.invalid && (cityControl.touched || siteNgForm.submitted)) ? (formModal.formId + '_city_error') : null"
          appTrimmedRequired />
        <div *ngIf="cityControl.invalid && (cityControl.touched || siteNgForm.submitted)" [id]="formModal.formId + '_city_error'" class="fv-plugins-message-container invalid-feedback d-block">Enter city.</div>
      </div>
      <!--end::Input group-->
      <!--begin::Input group-->
      <div class="d-flex flex-column mb-8 fv-row">
        <!--begin::Label-->
        <label class="d-flex align-items-center fs-6 fw-semibold mb-2" [for]="formModal.formId + '_address'">
          <span class="required">Address</span>
        </label>
        <!--end::Label-->
        <input
          [id]="formModal.formId + '_address'"
          type="text"
          class="form-control form-control-solid"
          placeholder="Enter Address"
          name="address"
          [(ngModel)]="siteForm.address"
          required
          #addressControl="ngModel"
          [class.is-invalid]="addressControl.invalid && (addressControl.touched || siteNgForm.submitted)"
          [attr.aria-invalid]="(addressControl.invalid && (addressControl.touched || siteNgForm.submitted)) ? 'true' : null"
          [attr.aria-describedby]="(addressControl.invalid && (addressControl.touched || siteNgForm.submitted)) ? (formModal.formId + '_address_error') : null"
          appTrimmedRequired />
        <div *ngIf="addressControl.invalid && (addressControl.touched || siteNgForm.submitted)" [id]="formModal.formId + '_address_error'" class="fv-plugins-message-container invalid-feedback d-block">Enter address.</div>
      </div>
      <!--end::Input group-->
      <!--begin::Input group-->
      <div class="row g-5 g-md-9 mb-8">
        <!--begin::Col-->
        <div class="col-md-6 fv-row">
          <label class="required fs-6 fw-semibold mb-2" [for]="formModal.formId + '_latitude'">Latitude</label>
          <input
            [id]="formModal.formId + '_latitude'"
            type="text"
            class="form-control form-control-solid"
            placeholder="e.g. 35.6892"
            name="latitude"
            [(ngModel)]="siteForm.latitude"
            required
            #latitudeControl="ngModel"
            [class.is-invalid]="latitudeControl.invalid && (latitudeControl.touched || siteNgForm.submitted)"
            [attr.aria-invalid]="(latitudeControl.invalid && (latitudeControl.touched || siteNgForm.submitted)) ? 'true' : null"
            [attr.aria-describedby]="(latitudeControl.invalid && (latitudeControl.touched || siteNgForm.submitted)) ? (formModal.formId + '_latitude_error') : null"
            appTrimmedRequired />
          <div *ngIf="latitudeControl.invalid && (latitudeControl.touched || siteNgForm.submitted)" [id]="formModal.formId + '_latitude_error'" class="fv-plugins-message-container invalid-feedback d-block">Enter latitude.</div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6 fv-row">
          <label class="required fs-6 fw-semibold mb-2" [for]="formModal.formId + '_longitude'">Longitude</label>
          <input
            [id]="formModal.formId + '_longitude'"
            type="text"
            class="form-control form-control-solid"
            placeholder="e.g. 51.3890"
            name="longitude"
            [(ngModel)]="siteForm.longitude"
            required
            #longitudeControl="ngModel"
            [class.is-invalid]="longitudeControl.invalid && (longitudeControl.touched || siteNgForm.submitted)"
            [attr.aria-invalid]="(longitudeControl.invalid && (longitudeControl.touched || siteNgForm.submitted)) ? 'true' : null"
            [attr.aria-describedby]="(longitudeControl.invalid && (longitudeControl.touched || siteNgForm.submitted)) ? (formModal.formId + '_longitude_error') : null"
            appTrimmedRequired />
          <div *ngIf="longitudeControl.invalid && (longitudeControl.touched || siteNgForm.submitted)" [id]="formModal.formId + '_longitude_error'" class="fv-plugins-message-container invalid-feedback d-block">Enter longitude.</div>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->
      <!--begin::Input group-->
      <div class="row g-5 g-md-9 mb-15">
        <!--begin::Col-->
        <div class="col-md-6 fv-row">
          <label class="fs-6 fw-semibold mb-2" [for]="formModal.formId + '_location'">Location</label>
          <input [id]="formModal.formId + '_location'" type="text" class="form-control form-control-solid" placeholder="Enter Location" name="location" [(ngModel)]="siteForm.location" />
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6 fv-row">
          <label class="required fs-6 fw-semibold mb-2" [for]="formModal.formId + '_elevation'">Elevation above sea level</label>
          <input
            [id]="formModal.formId + '_elevation'"
            type="number"
            step="any"
            class="form-control form-control-solid"
            placeholder="e.g. 1190"
            name="elevation"
            [(ngModel)]="siteForm.elevation"
            required
            #elevationControl="ngModel"
            [class.is-invalid]="elevationControl.invalid && (elevationControl.touched || siteNgForm.submitted)"
            [attr.aria-invalid]="(elevationControl.invalid && (elevationControl.touched || siteNgForm.submitted)) ? 'true' : null"
            [attr.aria-describedby]="(elevationControl.invalid && (elevationControl.touched || siteNgForm.submitted)) ? (formModal.formId + '_elevation_error') : null"
            appFiniteNumber />
          <div *ngIf="elevationControl.invalid && (elevationControl.touched || siteNgForm.submitted)" [id]="formModal.formId + '_elevation_error'" class="fv-plugins-message-container invalid-feedback d-block">Enter a valid number for elevation above sea level.</div>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->
    </form>
  </app-form-modal>
</ng-template>
<!--end::Modal - Site (Add / Edit)-->
